@font-face { /* Fuente */
  font-family: "ubuntu";
  src: url("D:/Thorrpe/Web/GitHub/Colmar-Academy/Fuentes/Ubuntu-Regular.ttf") format('truetype');
}

body { /* Cuerpo */
  box-sizing: border-box;
  position: relative;
  top: 64px;
  font-family: "ubuntu", Helvetica, sans-serif;
  background-color: white;
  border-left: 1px solid hsl(0, 0%, 72%);
  border-right: 1px solid hsl(0, 0%, 72%);
  margin: 0 300px;
  min-width: 768px;
}

/* ENCABEZADO ----------------------------------------------------------------*/

header { /* Contenedor de Encabezado */
  border-bottom: 1px solid hsl(0, 0%, 72%);
  border-left: 1px solid hsl(0, 0%, 72%);
  border-right: 1px solid hsl(0, 0%, 72%);
  background-color: white;
  box-sizing: border-box;
  height: 64px;
  width: auto;
  position: fixed;
  top: 0;
  left: 300px;
  right: 300px;
  display: flex;
  align-items: center;
  min-width: 768px;
  z-index: 2;
}

.logo { /* Contenedor Logo y Nombre */
  height: 32px;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 22px;
}

.logo p { /* Texto: COLMARACADEMY */
  margin: 0;
}

span { /* Texto: COLMAR */
  color: hsl(0, 0%, 20%);
  letter-spacing: 2;
  font-weight: 600;
}

#img-colmar { /* Logo de Colmar */
  padding-top: 6px;
  margin-left: 24px;
  height: 90%;
  min-width: 47.078px;
}

nav { /* Navegador de la Página */
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 24px;
}

.enlaces { /* Enlaces del Navegador */
  color: black;
  padding: 0;
  text-decoration: none;
  margin: 0 0 0 16px;
  font-size: 19px;
}

.enlaces img {
  display: none;
}

.enlaces:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 27%);
  color: white;
}

/* APREDNDIZAJE --------------------------------------------------------------*/

.learn { /* Contenedor de Aprendizaje */
  display: flex;
  background-color: hsl(0, 0%, 72%);
  z-index: 1;
}

.learn img { /* Imágen de Aprendizaje */
  display: flex;
  width: 60%;
  margin: 32px 24px;
  padding: 0;
}

.bottom { /* Contenedor de Título, Subtítulo y Botón */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: hsl(0, 0%, 27%);
  width: 310px;
  margin-bottom: 60px;
  margin-right: 24px;
}

.bottom h1 { /* Título */
  font-size: 40px;
  padding: 10px 0;
  margin: 0;
}

.bottom h3 { /* Subtítulo */
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
}

.boton { /* Contenedor de Botón */
  border: 1px solid hsl(0, 0%, 27%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 27%);
  margin-top: 25px;
}

#boton { /* Botón */
  width: 100%;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  color: white;
}

#boton:hover { /* Botón con puntero */
  border-radius: 5px;
  background-color: white;
  color: hsl(0, 0%, 27%);
  font-weight: bold;
}

/* ON CAMPUS ----------------------------------------------------------------*/

#campus { /* Donde lleva Enlace */
  position: relative;
  top: -64px;
}

.oncampus { /* Contenedor de On Campus */
  display: flex;
  z-index: 1;
}

.b1 { /* Contenedor Emanuel */
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0;
  margin: 0;
}

.img { /* contenedor de Imagen */
  display: flex;
  margin: 32px 24px;
}

.b1 img { /* Imágen emanuel */
  width: 100%;
  padding: 0;
  height: auto;
}

#texto1 { /* Texto Emanuel */
  display: inline-flex;
  flex-direction: column;
  color: hsl(0, 0%, 27%);
  font-size: 20px;
  padding: 0;
  margin: 0 24px 32px 24px;
}

#texto1 h1 { /* Texto Emanuel: Título */
  padding: 0;
  margin: 0 0 24px 0;
}

#texto1 p { /* Texto Emanuel: Párrafo */
  font-size: 19px;
  padding: 0;
  margin: 0 0 40px 0;
}

#texto1 h6 { /* Texto Emanuel: Nombre */
  padding: 0;
  margin:0;
}

.b2 { /* Contenedor "Read more" */
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-left: 1px solid hsl(0, 0%, 72%);
  width: 40%;
}

.b2 img { /* Imagenes "Read more" */
  height: auto;
  width: 35%;
  padding: 0;
  margin: 0;
  min-width: 150px;
  max-height: 150px;
}

.readmore { /* Los 3 apartados */
  display: inline-flex;
  padding: 16px;
}

.readmore #img-mobile {
  display: none;
}

#uno { /* Apartado 1 */
  border-bottom: 1px solid hsl(0, 0%, 72%);
}

#dos { /* Apartado 2 */
  border-top: 1px solid hsl(0, 0%, 72%);
}

#Oliver { /* Apartado 3 */
  background-color: hsl(0, 0%, 72%);
}

#texto2 { /* Texto de apartados */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  color: hsl(0, 0%, 27%);
  margin-left: 32px;
}

.special {
  display: none;
}

#texto2 h1 { /* Titulo texto2 */
  font-size: 20px;
  padding: 0;
  margin: 0 0 8px 0;
}

#texto2 p { /* Parrafo texto2 */
  font-size: 14px;
  padding: 0;
  margin: 0 0 8px 0;
}

#texto2 a { /* Enlace texto2 */
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: blue;
}

/* ONLINE --------------------------------------------------------------------*/

#online { /* Donde lleva el Enlace */
  position: relative;
  top: -64px;
}

.online { /* Contenedor Principal */
  display: inline-flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 27%);
  margin: 0;
  padding: 32px 72px;
  z-index: 1;
}

.start { /* Titulo Principal */
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.cont1, .cont2 { /* Contenedor 1 y Contenedor 2*/
  display: inline-flex;
  margin-top: 32px;
}

.cursos { /* Cursos */
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0 32px 0 0;
}

.cursos img { /* Imagenes de Cursos */
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#margin { /* Margen de Cursos que esta al final */
  margin-right: 0;
}

.textcurso { /* Texto debajo de foto en Cursos */
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 16px 16px 24px 16px;
  height: 100%;
}

.textcurso h1, #courses, .textcurso p { /* Titulo, Subtitulo y Parrafo */
  display: flex;
  justify-content: flex-start;
}

.textcurso h1 { /* Titulo Cursos */
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#courses { /* Subtitulo Cursos */
  font-size: 15px;
  padding: 0;
  margin: 8px 0;
}

.textcurso p { /* Parrafo Cursos */
  font-size: 14px;
  padding: 0;
  margin: 0;
}

/* FOR COMPANIES -------------------------------------------------------------*/

#thesis { /* Contenedor principal */
  display: inline-flex;
  flex-direction: column;
  color: hsl(0, 0%, 27%);
  width: 100%;
  height: auto;
  padding: 0;
  margin: 32px 0 0 0;
  z-index: 1;
}

#principal { /* Titulo Principal */
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Cvideoyenlaces { /* Contenedor de Contenedores de Video y Texto */
  display: inline-flex;
}

.video { /* Contenedor Video y Texto*/
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0;
  margin: 32px 24px;
}

video { /* Video */
  width: 100%;
  margin-bottom: 24px;
}

.textvideo { /* Contenedor Texto debajo del video */
  display: inline-flex;
  flex-direction: column;
}

.textvideo h1 { /* Titulo de Texto de Video */
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.textvideo p { /* Parrafo de Texto de Video */
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin: 8px 0 0 0;
}

.enlaces2 { /* Contenedor Enlaces */
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  margin-top: 32px;
}

.fisma { /* Contenedor de Enlace 1 */
  display: inline-flex;
  background-color: hsl(0, 0%, 72%);
}

.now { /* Contendor de Enlace 2 */
  display: inline-flex;
}

.enlaces2 img { /* Imagenes de los Enlaces */
  width: 35%;
  height: auto;
  margin: 0;
  padding: 16px;
}

.textenlaces2 { /* Contenedor del Texto de los Enlaces */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 16px 16px 16px 0;
}

.textenlaces2 h1 { /* Titulo de Enlaces */
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.textenlaces2 p { /* Parrafo de Enlaces */
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin: 8px 0 0 0;
}

/* PIE DE PAGINA -------------------------------------------------------------*/

footer { /* Contenedor de Pie de Pagina */
  display: inline-flex;
  justify-content: space-between;
  border-top: 1px solid hsl(0, 0%, 72%);
  color: hsl(0, 0%, 27%);
  width: 100%;
}

.rights { /* Texto de Derechos de Pagina */
  display: flex;
  justify-content: flex-start;
  margin: 16px 24px;
}

.privacy { /* Terminos y Privacidad */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px 24px;
}

footer a { /* Enlaces de Terminos y Privacidad */
  text-decoration: none;
  color: hsl(0, 0%, 27%);
  padding-left: 24px;
}

/* DISEÑO PARA MOVIL ---------------------------------------------------------*/

@media only screen and (max-width: 480px) {

  body {
    margin: 0;
    min-width: none;
  }

  /* ENCABEZADO */

  header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    min-width: none;
  }

  #img-colmar {
    display: none;
  }

  .logo {
    display: none;
  }

  nav {
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 0 24px;
    padding: 0;
  }

  .enlaces {
    display: flex;
    align-items: center;
    padding: 10px 8px 4px 8px;
    margin: 0;
  }

  .enlaces:hover {
    background-color: white;
  }

  .enlaces p {
    display: none;
  }

  .enlaces img {
    display: block;
    height: 130%;
    width: auto;
    margin: 0;
    padding: 0;
  }

  #ic-colmar {
    padding: 8px 9px 2px 9px;
  }

  #ic-companies {
    display: none;
  }

  #ic-sign {
    padding-bottom: 2px;
  }

  /* APRENDIZAJE */

  .learn {
    flex-direction: column;
    width: 100%;
  }

  .learn img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .bottom {
    width: auto;
    margin: 32px 16px;
    padding: 0;
  }
  .bottom h1 {
    font-size: 50px;
    padding: 0 0 32px 0;
  }

  .bottom h3 {
    font-size: 30px;
    padding: 0 0 24px 0;
  }

  .boton {
    font-size: 30px;
    margin: 0;
  }

  /* ON CAMPUS */

  .oncampus {
    justify-content: center;
    border-bottom: 2px solid hsl(0, 0%, 72%);
  }

  .b1 {
    display: none;
  }

  .b2 {
    border: none;
    width: 100%;
    margin: 16px 16px 32px 16px;
  }

  .b2 img {
    display: none;
    width: 100%;
    min-width: none;
    max-height: none;
  }

  .readmore {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  #uno {
    border: none;
    margin-bottom: 64px;
  }

  #dos {
    border: none;
    margin-bottom: 64px;
  }

  #Oliver {
    background-color: white;
  }

  .readmore #img-mobile {
    display: flex;
  }

  #texto2 {
    width: auto;
    margin: 0;
    padding: 32px 16px 0 16px;
  }

  .normal {
    display: none;
  }

  .special {
    display: flex;
  }

  #texto2 h1 {
    font-size: 40px;
  }

  #texto2 p {
    font-size: 30px;
  }

  #texto2 a {
    font-size: 30px;
  }

/* ONLINE */

  .online {
    border-bottom: 2px solid hsl(0, 0%, 72%);
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .start {
    font-size: 50px;
    width: auto;
    margin: 32px 16px 16px 16px;
  }

  .cont1 {
    flex-direction: column;
    margin: 0;
  }

  .cont2 {
    flex-direction: column;
    margin: 8px 0 32px 0;
  }

  .cursos {
    background-color: hsl(0, 0%, 72%);
    width: auto;
    margin: 0 16px 8px 16px;
  }

  #margin {
    margin: 0 16px;
  }

  .cursos img {
    display: none;
  }

  .textcurso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 16px 24px 16px;
  }

  .textcurso p, #courses {
    display: none;
  }

  .textcurso h1 {
    font-size: 40px;
  }


  }
