@font-face { /* Fuente */
  font-family: "ubuntu";
  src: url("D:/Thorrpe/Web/GitHub/Colmar-Academy/Fuentes/Ubuntu-Regular.ttf") format('truetype');
}

body { /* Cuerpo */
  position: relative;
  top: 64px;
  font-family: "ubuntu", Helvetica, sans-serif;
  background-color: white;
  margin: 0 300px;
  min-width: 768px;
}

/* ENCABEZADO ----------------------------------------------------------------*/

header { /* Contenedor de Encabezado */
  border-bottom: 1px solid hsl(0, 0%, 72%);
  border-left: 1px solid hsl(0, 0%, 72%);
  border-right: 1px solid hsl(0, 0%, 72%);
  background-color: white;
  box-sizing: border-box;
  height: 64px;
  width: auto;
  position: fixed;
  top: 0;
  left: 300px;
  right: 300px;
  display: flex;
  align-items: center;
  min-width: 768px;
  z-index: 2;
}

.logo { /* Contenedor Logo y Nombre */
  height: 32px;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 22px;
}

.logo p { /* Texto: COLMARACADEMY */
  margin: 0;
}

span { /* Texto: COLMAR */
  color: hsl(0, 0%, 20%);
  letter-spacing: 2;
  font-weight: 600;
}

img { /* Logo de Colmar */
  padding-top: 6px;
  margin-left: 24px;
  height: 90%;
  min-width: 47.078px;
}

nav { /* Navegador de la Página */
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 24px;
}

.enlaces { /* Enlaces del Navegador */
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0 0 0 16px;
  font-size: 19px;
}

.enlaces:hover {
  border-radius: 5px;
  background-color: hsl(0, 0%, 27%);
  color: white;
}

/* APREDNDIZAJE --------------------------------------------------------------*/

.learn { /* Contenedor de Aprendizaje */
  display: flex;
  background-color: hsl(0, 0%, 72%);
  z-index: 1;
}

.learn img { /* Imágen de Aprendizaje */
  display: flex;
  width: 60%;
  margin: 32px 24px;
  padding: 0;
}

.bottom { /* Contenedor de Título, Subtítulo y Botón */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: hsl(0, 0%, 27%);
  width: 310px;
  margin-bottom: 60px;
  margin-right: 24px;
}

.bottom h1 { /* Título */
  font-size: 40px;
  padding: 10px 0;
  margin: 0;
}

.bottom h3 { /* Subtítulo */
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
}

.boton { /* Contenedor de Botón */
  border: 1px solid hsl(0, 0%, 27%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 27%);
  margin-top: 25px;
}

#boton { /* Botón */
  width: 100%;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  color: white;
}

#boton:hover { /* Botón con puntero */
  border-radius: 5px;
  background-color: white;
  color: hsl(0, 0%, 27%);
  font-weight: bold;
}

/* ON CAMPUS ----------------------------------------------------------------*/

#oncampus { /* Contenedor de On Campus */
  display: flex;
  z-index: 1;
}

.b1 { /* Contenedor Emanuel */
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0;
  margin: 0;
}

.img { /* contenedor de Imagen */
  display: flex;
  width: 100%;
}

.b1 img { /* Imágen emanuel */
  width: 100%;
  height: auto;
  padding: 0;
  margin: 32px 24px;
}

#texto1 { /* Texto Emanuel */
  display: inline-flex;
  flex-direction: column;
  color: hsl(0, 0%, 27%);
  font-size: 20px;
  padding: 0;
  margin: 0 24px 32px 24px;
}

#texto1 h1 { /* Texto Emanuel: Título */
  padding: 0;
  margin: 0 0 24px 0;
}

#texto1 p { /* Texto Emanuel: Párrafo */
  font-size: 19px;
  padding: 0;
  margin: 0 0 40px 0;
}

#texto1 h6 { /* Texto Emanuel: Nombre */
  padding: 0;
  margin:0;
}

.b2 { /* Contenedor "Read more" */
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-left: 1px solid hsl(0, 0%, 72%);
  width: 40%;
}

.b2 img { /* Imagenes "Read more" */
  height: auto;
  width: 35%;
  padding: 0;
  margin: 0;
  min-width: 150px;
  max-height: 150px;
}

.readmore { /* Los 3 apartados */
  display: inline-flex;
  padding: 16px;
}

#uno { /* Apartado 1 */
  border-bottom: 1px solid hsl(0, 0%, 72%);
}

#dos { /* Apartado 2 */
  border-top: 1px solid hsl(0, 0%, 72%);
}

#Oliver { /* Apartado 3 */
  background-color: hsl(0, 0%, 72%);
}

#texto2 { /* Texto de apartados */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  color: hsl(0, 0%, 27%);
  margin-left: 32px;
}

#texto2 h1 { /* Titulo texto2 */
  font-size: 20px;
  padding: 0;
  margin: 0 0 8px 0;
}

#texto2 p { /* Parrafo texto2 */
  font-size: 14px;
  padding: 0;
  margin: 0 0 8px 0;
}

#texto2 a { /* Enlace texto2 */
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: blue;
}
